
.bas{
  width: 23vw;
  margin-left: 41vw; 
  margin-top: 15vw;
  margin-bottom: 14vw; 
  color: white;
  font-size: 3vw;
  border-bottom: 0.2vw solid white;
  display: inline-block;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.hak,.metin1{
  color: white;
  width: 55vw;
  font-size: 1.45vw;
  text-align: justify;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.inu_hakinda{
  color:white;
  position: absolute; 
  margin-top: -3.5vw;
  padding-left: 48vw;
  font-size: 1.35vw;
  text-decoration: none;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
#buton{
  color: black;
  border: 0.1vw solid black ;
  margin-bottom: -1vw;
  background-color: rgb(95, 141, 156);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
  "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.my_photo {
  float: right;
  width: 25vw;
  border-radius: 4vw;
  border: solid rgba(54, 51, 71, 0.603);
  margin-top: -35vw;
  margin-right: 3vw;
}


.tab{
  margin-top: 4vw;
  border-style: groove;
  border-width: 0.1vw;
  background-color: lightblue;
  margin-left: 10vw;
  width: 72vw;
  height: 20vw;
  color: black;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
  "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
td{
  color: rgb(31, 30, 30);
  text-align: center;
  font-size: 1.1vw;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
