html {
  background-image: url(/media/new_1.jpg);
  background-size: cover;
  color: white;
  font-size: large;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.my_photo {
  width: 320px;
  margin-left: 900px;
  margin-top: -350px;
}
ul {
  text-align: justify;
}
