* {
        scroll-behavior: smooth;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}


body{ 
    background-color: rgba(0, 11, 34, 0.829);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-size: cover;
    margin: 0;
    padding: 0;
    }
.navbar{
    position: fixed;  

        background-color:rgb(18, 66, 82);
        font-size: 1.3vw;  
        overflow: hidden;   
        margin-top: -0.2vw;
        height: 4vw;
        width: 100%;

    }
    #demo{
        margin-top: 160px;
        padding-left: 35vw;
        padding-right: 35vw;
    }
a{
    color: white;
}
.contin{
    width: 82vw;
    margin: auto;
    

}
.navbar .projectName{
    float: left;
    width: 55%;
    text-transform: uppercase;
    margin-top: -0.5vw;
    color: black;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.navbar .links{
    float: left;
    width: 45%;
    margin-top: -0.3vw;


}


.navbar a{
    text-decoration: none;
    border-bottom: 2px solid transparent;
    color: white;
}
ul{

    list-style: none;
    padding: 0;
    margin: 0;
}

.navbar .links a:hover , :active{
    color: black;
    border-bottom: 0.2vw solid black;
}


.navbar .links li{
    display: inline-block;
    padding:  1.5vw;
}

.aboutMe{
    margin-top: 450px;
}
.kelime{
    color: black;
}