* {
        scroll-behavior: smooth;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


body{ 
    background-image: url(/media/new_1.jpg);
    background-color: rgb(156, 135, 107);

    background-repeat: no-repeat; 
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    background-size: cover;
    margin: 0;
    padding: 0;
    }
.navbar{
    position: fixed;  

        background-color:rgb(18, 66, 82);
        font-size: 17px;  
        overflow: hidden;   
        margin-top: -5px;
        height: 51px;
        width: 100%;

    }
    #demo{
        margin-top: 160px;
        padding-left: 255px;
        padding-right: 255px;
    }
a{
    color: white;
}
.contin{
    width: 1200px;
    margin: auto;
    

}
.navbar .projectName{
    float: left;
    width: 55%;
    text-transform: uppercase;
    margin-top: -6px;
    color: black;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.navbar .links{
    float: left;
    width: 45%;
    margin-top: -5px;


}
.baslik{
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 40px; 
        color: lightgray;
        padding-top: 180px;
        margin-bottom: -100px;
    }

.navbar a{
    text-decoration: none;
    border-bottom: 2px solid transparent;
    color: white;



}
ul{

    list-style: none;
    padding: 0;
    margin: 0;
}

.navbar .links a:hover , :active{
    color: black;
    border-bottom: 2px solid black;
}


.navbar .links li{
    display: inline-block;
    padding:  20px;
}

.aboutMe{
    margin-top: 450px;
}
.kelime{
    color: black;
}