
h1{
    text-align: center;
    color: white;
}
.table{
border-style: groove;
border-width: 2px;
background-color: lightblue;
margin-left: 200px;
width: 950px;
height: 350px;
}
td{
    text-align: center;
}
