html {
  background-image: url(/media/new_1.jpg);
  background-attachment: fixed;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: rgb(18, 18, 19);
  background-repeat: no-repeat;
  background-size: cover;
}
.bas {
margin-left: 40%;
  color: black;
  display:inline-block;
  border-bottom: 3px solid rgba(187, 187, 190, 0.685);
  font-size: 45px;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-bottom: -7px;
}
.button {
  background-color: rgb(100, 87, 224);
  width: 70px;
  height: 30px;
  margin-left: 20px;
  border-radius: 10px;
}
.button:hover{
  background-color: rgb(202, 184, 250); 
  color: rgb(100, 87, 224);; 
  border: 1px solid #032c3a;
}

.inp1{
  margin-left: 50px;
  margin-top: 6px;
  padding-bottom: 4px;

}
.inp2{
  margin-left: 51px;
  margin-top: 6px;
  padding-bottom: 4px;

}
.inp3{
  margin-left: 50px; 
  margin-top: 6px;
  padding-bottom: 4px;
}

textarea{
margin-left: 50px;
  margin-top:6px;

}


label{
font-size: large;
color: aliceblue;
padding-left: 30px;

}
.labl1{
  padding-left: 50px;
}

.labl2{
  margin-left: 20px;
}
.labl3{
  margin-left: 20px;
}
.labl4{
  margin-left: 20px;

}
h2{
  color: aliceblue;
  padding-left: 30px;
}
h3{
  margin-left: 25%;
  font-size: 27px;
  color: antiquewhite;
}

footer{
  background-color: #203e47c2;
  color: aliceblue;
  width: 100%;
  padding: 10px;
  padding-bottom: 30px;
  margin-left: -10px;
  margin-bottom: -15px;
}


.social_media{
  float: right;
  margin-top: -120px;
  margin-right: 150px;
}