html {
  background-color: lightgoldenrodyellow;
  font-family: HelveticaNeue, Helvetica, Arial, Verdana, sans-serif;
}

header {
  color: white;
  width: 100%;
  margin-top: -2vw;
  background-color: rgba(12, 106, 128, 0.99);
  margin-bottom: -5vw;
}
h1 {
  text-align: center;
}
.logo {
  background-color: white;
  height: 5vw;
  margin-top: 0.8vw;
  margin-left: -67vw;
}
.lnk {
  color: black;
  text-decoration: none;
  margin-top: -1vw;
  margin-left: -7.8vw;
}
.unvideo {
  margin-top: 3vw;
  margin-left: 52%;
  margin-left: 50vw;
  width:45vw ;
  height: 27vw;
}
.loc {
  margin-bottom: -20vw;
  padding-left: 27%;
}
.baslik {
  text-align: center;
}
.metin {
  width: 45vw;
  font-size: 1.3vw;
  text-align: justify;
  margin-top: -27vw;
}
.unphoto {
  height: 30vw;
  margin-left: 17vw;
  margin-top: 2vw;
  margin-bottom: 4vw;
  float: left;
}
footer {
  background-color: rgba(12, 106, 128, 0.99);
  height: 6vw;
  margin-top: 22vw;
  margin-left: -0.5vw;
  margin-right: -0.7vw;
  margin-bottom: 2vw;
}
.iletisim {
  color: white;
  padding-left: 2vw;
}
